@using System.Security.Claims
@model ToDo


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" class="row">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="UserId" type="hidden" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatePick" class="control-label"></label>
                <input asp-for="DatePick" type="date" class="form-control" />
                <span asp-validation-for="DatePick" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimePick" class="control-label"></label>
                <input asp-for="TimePick" type="time" class="form-control" />
                <span asp-validation-for="TimePick" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" value="23.733190543816345" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" value="37.97575640524939" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary form-control">Back</a>
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <div id="map" style="height: 400px; width: 100%;"></div>
    </div>
</div>

@section Scripts {
    <iframe id="map"
            width="600"
            height="450"
            style="border:0; width: 100%; height: 500px;"
            loading="lazy"
            allowfullscreen
            src="https://www.google.com/maps/embed/v1/view?key=@ViewBag.GoogleMapsApiKey&center=37.97575640524939,23.733190543816345&zoom=14">
    </iframe>

    <script type="text/javascript">
        // Script to update the iframe URL based on user input for latitude and longitude
        document.getElementById('Latitude').addEventListener('input', updateMap);
        document.getElementById('Longitude').addEventListener('input', updateMap);

        function updateMap() {
            var lat = parseFloat(document.getElementById('Latitude').value) || 37.97575640524939; // Default value
            var lng = parseFloat(document.getElementById('Longitude').value) || 23.733190543816345; // Default value
            var apiKey = '@ViewBag.GoogleMapsApiKey';

            // Construct the new embed URL with the updated latitude and longitude
            var newUrl = `https://www.google.com/maps/embed/v1/view?key=${apiKey}&center=${lat},${lng}&zoom=14`;

            // Update the iframe src attribute
            document.getElementById('map').src = newUrl;
        }
    </script>
   
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}