@using System.Security.Claims
@model ToDo

<form method="post">
    <input asp-for="Id" hidden />
    <input asp-for="UserId" type="hidden" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit ToDo Action</h2>
            <hr />
        </div>
        @* <div asp-validation-summary="All"> </div> *@
        <div class="mb-3 row p-1">
            <label asp-for="Name" class="p-0"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Description" class="p-0"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="DatePick" class="p-0"></label>
            <input type="date" asp-for="DatePick" class="form-control" />
            <span asp-validation-for="DatePick" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="TimePick" class="p-0"></label>
            <input type="time" asp-for="TimePick" class="form-control" />
            <span asp-validation-for="TimePick" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Longitude" class="p-0"></label>
            <input asp-for="Longitude" class="form-control" />
            <span asp-validation-for="Longitude" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Latitude" class="p-0"></label>
            <input asp-for="Latitude" class="form-control" />
            <span asp-validation-for="Latitude" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Update</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary form-control">Back</a>
            </div>
        </div>

    </div>
</form>

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.GoogleMapsApiKey&callback=initMap" async defer></script>
    <script type="text/javascript">
        function initMap() {
            var initialLat = parseFloat(document.getElementById('Latitude').value) || 0;
            var initialLng = parseFloat(document.getElementById('Longitude').value) || 0;
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: { lat: initialLat, lng: initialLng }
            });

            var marker = new google.maps.Marker({
                position: { lat: initialLat, lng: initialLng },
                map: map,
                draggable: true
            });

            google.maps.event.addListener(marker, 'dragend', function () {
                var lat = marker.getPosition().lat();
                var lng = marker.getPosition().lng();
                document.getElementById('Latitude').value = lat;
                document.getElementById('Longitude').value = lng;
            });
        }
    </script>
    <div id="map" style="height: 500px; width: 100%;"></div>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}