@model ToDo

<form  method="post" class="row" >
    <div asp-validation-summary="All"></div>
    <label asp-for="Name"></label>
@*     <input asp-for="Id" type="hidden" /> *@
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <label asp-for="Description"></label>
    <input asp-for="Description" />
    <label asp-for="DatePick"></label>
    <input type="date" asp-for="DatePick" name="DatePick" />
    <label asp-for="TimePick"></label>
    <input type="time" asp-for="TimePick" name="TimePick" />
    <button type="submit" >Submit</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary form-control">Back</a>
</form>